.container {
  width: 1050px;
    
}    
    
path {
    stroke: gray;
    stroke-width: 1;
}

path:hover {
     stroke-width: 1;
    stroke: black;
}
    
div.tooltip {
    position: absolute;
    text-align: center;
    min-width: 100px;
    height: 100px;
    padding: 2px;
    font: 12px sans-serif;
    background: white;
    border: 1px green solid;
    border-radius: 5px;
    pointer-events: none;
}

.tooltip p {
    margin: 5px;
}

/* Legend Font Style */
body {
    font: 12px sans-serif;
    height: 800px;
}

/* Legend Position Style */
.legend {
    position:absolute;
    left:800px;
    top:350px;
}
    
.textbox {
     margin-left: 50px;
        font-family: "Futura", Times, serif;
    font-size: 15px;

}
    
a {
 color: grey;
    text-decoration: none;
}

a:hover {
 color: black;   
}
    
h1 {
  font-size: 26px;
    font-family: futura;
  padding: 0px 0 5px 0;
  line-height: 1.2em;
  color: #000;
  margin-bottom: 0px;
   text-align:  center;
}
    


#lead {
  clear: both;
  width: 600px;
}

#lead p {
  color: #444;
  font-family: Futura,Georgia,Palatino,serif;
  font-size: 1.0em;
  line-height: 1.4em;
    width:700px;
    margin-left: 200px;
}

#vis {
  position: relative;
  display: block;
}

.chart {
  position: absolute;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top:0;
  padding-left:0;
}

svg {
  font-size: 9px;
}

.background {
  fill: none;
}

.area {
  fill: #ccfff2;
}

.line {
  fill: none;
  stroke: #334C80;
  stroke-width: 1.4px;
    pointer-events: none;
}

.title {
  font-size: 12px;
}

.axis line, .grid line {
  stroke-width: .5px;
  shape-rendering: crispEdges;
  stroke: #fff;
  opacity: 0.5;
  pointer-events: none;
}

.axis path {
  display: none;
}

.hidden {
  display:none;
  opacity: 0.0;
}

#button-wrap {
  width: 400px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-left: 5px;
}

.button {
  cursor: pointer;
  float: left;
  height: 30px;
  text-align: center;
  background: #fcfcfc;
  display: block;
  padding: 5px 15px;
  border-radius: 50px 50px 50px 50px;
}

.button.active {
  box-shadow: inset 0px 0px 7px rgba(0,0,0,0.18);
  pointer-events: none;
  background-color: #ccfff2;
}

#count {
  border-radius: 5px 0px 0px 5px;
}

#name {
  border-radius: 0px 5px 5px 0px;
}    

.introtext {
 margin: 50px;   
    
}
 
 <--stylesforupdateplot-->   
.updateplotcontainer {
  width: 1050px;
}       
    
  .dots {
				fill: green;
				opacity: .7;
			}
            
            .dots:hover {
				fill: #ccfff2;
			}

			.dotlabels {
				font-size: 10px;
				color: black;
			}

			.highlighted {
				fill: orange;
			}

			.axis1 path,
			.axis1 line {
				fill: none;
				stroke: black;
				shape-rendering: crispEdges;
			}

			.axis1 text {
				font-family: sans-serif;
				font-size: 11px;
			}

			.xlabel{
				font-size: 15px;
				fill: gray;
			}
			.ylabel{
				font-size: 15px;
				fill: gray;
			}

			#menu {
                margin-top: 20px;
				padding-left: 300px;
				font-weight: bolder;
			}
    .clicker {
				font-weight: bolder;
				color: red;
				cursor: pointer;
			}
    
#plot {
    margin-left: 95px;  
}
    
.updateplotbutton {
      margin-bottom: -2000px;
}
   
    
<--stylesfordotplot-->
	div.ydotsMinNeeded {
				color: #6699FF;
				display: inline;
			}
			div.ydotsSpent {
				color: orange;
				display: inline;
			}

			svg {
				background-color: white;
			}

			circle {
				stroke-width: 1;
			}

			circle.ydotsMinNeeded {
				fill: grey;
			}

			circle.ydotsSpent {
				fill: green;
			}
            

			circle:hover {
				stroke-width: 3;
				stroke: white;
			}

			line.grid {
				stroke: #eee;
			}

			line.between {
				stroke: black;
			}
    
    
             .tooltip_dotplot {
                    position: absolute;
                    text-align: center;
                    min-width: 100px;
                    font: 12px sans-serif;
                    background: white;
                    border: 1px green solid;
                    border-radius: 5px;
                    pointer-events: none;   
                    padding: 10px;
}
    
 

.bluebox { 
    float: left; 
    width: 20px; 
    height: 20px; 
    border-radius:50%;
    background:indianred;
}    
.bluebox1 { 
    float: left; 
    width: 20px; 
    height: 20px; 
    border-radius:50%;
    background:green;
} 
.bluebox2 { 
    float: left; 
    width: 20px; 
    height: 20px; 
    border-radius:50%;
    background:grey;
} 
 
    
<--stickystyles-->    
body.nav-fixed-top {
  padding-top: 45px;
}

a {
  text-decoration: none;
  color: #c0392b;
  text-transform: uppercase;
  transition: color .35s ease;
}
a:hover, a:focus, a:visited {
  outline: 0;
  color: #43140f;
}

.container {
  max-width: 960px;
  width: 95%;
  margin: 0 auto;
}

.hero {
  background: #ccfff2;
  padding: 200px 40px;
  margin: 0;
  text-align: center;
  color: #d9d9d9;
}

.nav {
  margin: 0;
  padding: 20px 0;
  background: #f2f2f2;
  list-style: none;
  text-align: center;
  transition: all .15s ease;
}
.nav.nav-fixed-top {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  background: green;
  padding: 0;
}
.nav.nav-fixed-top a {
  color: white;
}
.nav.nav-fixed-top a:visited {
  color: white;
}
    
.nav.nav-fixed-top a:active { 
    background-color: yellow;
}    
    
.nav.nav-fixed-top a:hover, .nav.nav-fixed-top a:focus {
  outline: 0;
  color: #f2c9c5;
}
.nav ul {
  padding: 0;
  margin: 5px 0;
}
.nav ul li {
  display: inline-block;
  padding: 0 20px;
}

.body-content {
  margin: 0;
  padding: 15px 0;
  font-size: 1.8rem;
  line-height: 1.38;
}
 
h3 {
    color: black;
}
    
.textfont {
    font-size: 100;
}
    
.bar {
  fill: steelblue;
}    

.sources {
    
    text-align: center;
}